body {
  background-color: #444444;
  background-image: url(ba152def17297be7353b79a0e0553136.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.btn {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

